.place__paragraph-container {
    margin: 0;
    padding: 0;
    max-width: 484px;
    font-weight: 400;
    font-size: 18px;
    line-height: 29.34px;
    grid-column: 2;
}

/*768*/
/*@media screen and (max-width: 768px) {
    .place__paragraph-container {
        padding-top: 5px;
    }
}*/

/*750*/ 

@media screen and (max-width: 750px) {
    .place__paragraph-container {
        margin-left: 16px;
        grid-column: 1;
    }
}

/*350*/

@media screen and (max-width: 350px) {
    .place__paragraph-container{
        max-width: 288px;
    }
}