.place__paragraph {
    margin: 0;
    padding: 0;
}

/*1024*/

@media screen and (max-width:1024px) {

        .place__paragraph:not(:last-child) {
            margin-bottom: 27px;
        }
    }




/*768*/

@media screen and (max-width:768px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26.08px;
    }   
    .place__paragraph:not(:last-child) {
        margin-bottom: 25px;
    }
}
