.intro {
    margin: auto;
    display: flex;
    margin-top: 92px;
    margin-bottom: 92px;
    flex-direction: column;
    max-width: 984px;
    text-align: start;
}

/*1027*/
@media screen and (max-width: 1024px) {
    .intro {
        margin-left: 48px;
        margin-right: 48px;
    }
}


/*768*/

@media screen and (max-width: 768px) {
    .intro {
        max-width: 100%;
        margin: 88px 24px 88px;
    }
}

/*430*/

@media screen and (max-width: 430px) {
    .intro {
        margin: 64px 16px 64px;
    }
}